@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prompt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Prompt&family=Rubik+Bubbles&display=swap');

/*

Font-family: 'Kanit',sans-serif;
Font-family: 'Prompt',sans-serif;
font-family: 'Rubik Bubbles' ;
cursive;
 */
 *{
    box-sizing: border-box;
 }

body {
    background: rgba(30, 29, 29, 0.897);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero-wrapper {
    text-align: center;
    color: rgb(10, 198, 198);
    Font-family: 'Kanit', sans-serif;
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 3px 3px 1px rgb(20, 19, 19);
    letter-spacing: 5px;
    background-image: url(hero-wrap.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
    width: 100%;
    margin-top: 1%;
    }
.hero-wrapper h1 {
    border: 10px;
    border-radius: 15px;
    border-color: black;
    background: none;
}
.logo-picture {
    display: flex;
    flex-flow: row wrap;
    border: 10px;
    border-radius: 50px;
    box-shadow: 10px 10px 10px rgba(8, 228, 221, 0.353);
    justify-content: start;
}
.logo-picture:hover{
    border-color: rgb(10, 243, 243);
    border-radius: 200px;
    box-shadow: 5px 5px 5px rgba(0, 255, 255, 0.292);
    transition-duration: 5s;
}

.header-nav-basic {
    display: flex;
    text-align: center;
    flex-flow: nowrap;
    border-top: 15px solid rgb(8, 129, 117);
    border-bottom: #108f84;
    padding: 10px;
}
.header-nav-basic ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    width: 100%;
}
.header-school-plans {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    margin-top: 50px;
}
.header-nav-section-item {
    background: none;
    height: 30px;
    font-family: 'Rubik Bubbles';
    padding-top: 58px;
    padding-right: 6px;
    list-style:none;
    text-transform: uppercase;
}
.header-nav-section-item a {
    border: 300px;
    border-radius: 40px;
    padding: 20px 30px;
    text-decoration: none;
    background-color: rgb(5, 136, 92);
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 1px rgb(11, 179, 173);
    text-align: center;
    font-size: 25px;
    justify-content: space-around;
    width: 100%;
}
.header-nav-section-item a:hover {
    background-color: rgba(45, 43, 43, 0.877);
    color: rgba(8, 220, 196, 0.653);
    text-shadow: 2px 2px 2px black;
    transition-duration: 2s;
}
.header-school-plans {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    border: 5px;
    border-radius: 5px;
    align-items: center;
    padding: 20px 20px;
    Font-family: 'Prompt', sans-serif;
    flex-basis: 25%;
    min-height: 60vh;
}
.header-school-plans ul {
    color: rgba(6, 240, 240, 0.736);
    text-shadow: 3px 2px 1px rgba(0, 0, 0, 0.48);
    justify-content: space-around;
    text-align: left;
    font-size: 18px;
}
.header-school-plans h1:nth-child(2){
    text-decoration: underline;
}
.header-school-plans h1:nth-child(1){
    font-size: 40px;
    Font-family: 'Kanit', sans-serif;
    color: rgba(127, 255, 212, 0.69);
    text-shadow: 4px 5px 1px rgb(1, 1, 1);
    text-transform: uppercase;
}
.header-school-plan1{
display: flex;
min-height: 600px;
width: 300px;
border: 15px;
border-radius: 20px;
padding: 10px 10px;
border-color: teal;
flex-flow: column nowrap;
align-items: center;
background: rgb(6, 81, 81);
box-shadow: 5px 10px 10px rgb(13, 13, 13);
justify-content: space-evenly;
position: relative;
}
.header-school-plan2{
display: flex;
min-height: 650px;
width: 300px;
border: 15px;
border-radius: 20px;
padding: 10px 10px;
border-color: teal;
flex-flow: column nowrap;
align-items: center;
justify-content: space-around;
background: rgb(6, 81, 81);
box-shadow: 5px 10px 10px rgb(13, 13, 13);
position: relative;
}
.header-school-plan3{
display: flex;
min-height: 620px;
width: 300px;
border: 15px;
border-radius: 20px;
padding: 10px 10px;
border-color: teal;
flex-flow: column nowrap;
align-items: center;
justify-content: space-around;
background:rgb(6, 81, 81);
box-shadow: 5px 10px 10px rgb(13, 13, 13);
position: relative;
}
.button-apply button{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 150px;
    border-radius: 30px;
    padding: 10px 10px;
    font-size: 20px;
    font-family: 'Rubik Bubbles';
    text-shadow: 2px 2px 1px black;
    color: teal;
    text-transform: uppercase;
    background-color: rgb(41, 40, 40);
}
.button-apply :hover {
    background-color: rgba(13, 207, 188, 0.584);
    color: rgb(21, 20, 20);
    text-shadow: 2px 2px 1px rgb(9, 138, 138);
    transition: 3s;
    height: 50px;
    width: 150px;
}
.footer {
    background-color: #108f84;
}
.about-footer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    Font-family: 'Prompt', sans-serif;
    width: 60%;
    font-size: 20px;
    padding-bottom: 50px;
}
.about-footer h2 {
    font-size: 50px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(100, 127, 118, 0.557);
    letter-spacing: 8px;
    Font-family: 'Kanit', sans-serif;
}

.header-school-plan1 button{
    position: absolute;
    right: 80px;
    bottom: 15px;
}
.header-school-plan2 button {
    position: absolute;
    right: 80px;
    bottom: 15px;
}
.header-school-plan3 button {
    position: absolute;
    right: 80px;
    bottom: 10px;
}
footer{
    background-color: #0f625bb6;
    display: flex;
    padding: 25px 25px;
    margin-top: 50px;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    width: 100%
}

img {
    height: 200px;
    width: 200px;
    border: 2px solid teal;
    border-radius: 20px;
    box-shadow: 4px 4px 2px black;
}
.footer-founder-div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 60%;

}
.footer-cofounder-div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 60%;
}

.footer-founder-div h1 {
    Font-family: 'Kanit', sans-serif;
    margin-top: 1;
    padding-bottom: 2px;
    text-shadow: 1px 1px 1px #099a89;
}
.footer-cofounder-div h1{
    Font-family: 'Kanit', sans-serif;
    margin-top: 1;
    padding-bottom: 20px;
    text-shadow: 1px 1px 1px #099a89;
}
.footer-founder-div p {
    padding-bottom: 100px;
    margin-left: 10px;
    justify-content: flex-end;
    Font-family: 'Prompt', sans-serif;
    font-size: 20px;
}
.footer-cofounder-div p {
    padding-bottom: 100px;
    margin-left: 10px;
    justify-content: flex-end;
    Font-family: 'Prompt', sans-serif;
    font-size: 20px;
}
.main-footer{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-color: rgba(35, 171, 125, 0.728);
    width: 100%;
    padding: 30px 10px;
}
.main-footer__nav {
    width: 20%;
    padding: 25px 0;
}
.main-footer__nav-social-icons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.main-footer__nav-list {
    display: flex;
    flex-flow: column wrap;
    list-style-type: none;
    justify-content: space-around;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    text-align: center;
}
.main-footer__nav-list li a {
    color: black;
    font-size: 18px;
    text-decoration: none;
    font-family: 'Source Code Pro', monospace;
}
.main-footer__nav-social-icons {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
.fa {
    padding: 20px;
    font-size: 35px;
    width: 50px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-linkedin {
    background: #0A66C2;
    color: white;
}